    :root {
        --primary: #53CA95;
        --primary-check: #37ca97;
        --primary-light: #EFFFF6;
        --bg-main: #F8FAFB;
        --text-dark: #333;
        --text-light: #7C828A;
        --border: #E8ECEF;
        --white: #FFFFFF;
        --even-row: #bec2c6;
    }

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        height: 100vh;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--bg-main);
        color: var(--text-dark);
        font-family:'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    }

    /* Side Bar */
    .sidebar {
        flex: 1;

        min-width: 11em;
        padding: 1em;
        height: 100vh;
        border-right: 1px solid var(--border);
        
        display: flex;
        flex-direction: column;

        background-color: var(--white);
    }

    .logo {
        margin-bottom: 1.5em;
        font-size: larger;
        font-weight: bolder;
        color: var(--text-dark);
    }

    nav ul { 
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav li {
        padding: 0.8em 1em;
        margin-bottom: 0.25em;
        border-radius: 0.5em;
        
        background-color: var(--primary-light);
        color: var(--primary);
        
        cursor: pointer;
        font-weight: 600;

        transition: 0.2s;
    }

    .sidebar-footer {
        margin-top: auto;
    }

    .btn-create {
        width: 100%;
        padding: 0.8em;
        border: none;
        border-radius: 0.5em;
        
        cursor: pointer;
        
        background-color: var(--primary);
        font-weight: 600;
        color: white;
    }

    /* Main Content */
    .main-content {
        flex: 8;

        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        gap: 1.2em;

        height: 100%;
        min-width: 900px;

        padding: 2em 2em 0 2em;
        overflow-y: auto;
    }

    .content-header {
        align-self: flex-start;
        width: 100%;
    }

    fieldset {
        display: flex;
        justify-content: space-between;

        border-radius: 1em;
    }

    .filter-by, .sort-by {
        display: flex;
        align-items: center;
        gap: 0.5em;
        
        font-weight: bold;
    }

    .search-title {
        width: 15em;
        padding: .8em 1.2em;
        border: 1px solid var(--border);
        border-radius: 1.4em;
        background-color: var(--white);
    }

    .content-header > button {
        margin-inline-start: auto;
    }

    select {
        padding: 0.8em 1em;
        border: 1px solid var(--border);
        border-radius: 1.4em;
        background:var(--white);

        cursor: pointer;
    }

    .toggle-switch {
        position: relative;
    
        width: 2.7em;
        height: 1.5em;
    
        display: inline-block;
    }

    .slider {
        position: absolute;
        inset: 0;
        
        
        background-color: var(--text-light);
        border-radius: 1.5em;
        
        cursor: pointer;
        transition: background 0.2s;
    }

    .slider:before {
        position: absolute;
        left: .25em;
        bottom: .22em;
        
        height: 1.1em;
        width: 1.1em;
    
        border-radius: 50%;
        background-color: var(--primary-light);
        
        content: "";

        transition: transform 0.2s;
    }

    .toggle-switch input:checked + .slider {
    background-color: var(--primary-check);
    }

    .toggle-switch input:checked + .slider:before {
    transform: translateX(1.1em);
    }

    /* Content Table */
    .table-container {
        padding: 1.5em;
        
        border-radius: 1em;
        background-color: var(--white);
    }

    table {
        height: 420px;
        width: 100%;
        
        border-collapse: collapse;

        table-layout: fixed;
        text-align: left;
    }

    th {
        color: var(--text-light);
        font-size: .9em;
        padding-bottom: 1em;
        border-bottom: 1px solid var(--border);
    }

    td {
        height: 55px;
        padding: 0;
        vertical-align: middle;
    }

    tr td:first-child {
        padding-inline-start: 1em;
    }

    tbody {
        vertical-align: top;
    }

    tbody tr {
        height: 55px; 
    }

    tbody > :nth-child(even) {
        background-color: var(--even-row);
    }

    td img {
        width: 30px;
        aspect-ratio: 9 / 16;
        object-fit: cover; 
    }

    .cover {
        width: 10%;
    }

    .title {
        width: 30%;
    }

    th.rating {
        width: 15%;
    }

    .price {
        width: 15%;
    }

    .actions {
        width: 30%;
    }

    .empty {
        margin: 2em 6em;
        
        font-size:larger;
        font-weight: bolder;
        text-align: center;
        color: rgb(192, 192, 192);
    }

    /* Buttons */
    button {
        padding: 0.5em 0.8em;

        border: none;
        border-radius: 0.4em;
        cursor: pointer;

        font-weight: bolder;
    }

    .action-btn {
        border: 1px solid var(--border);
        border-radius: .4em;

        background: none;
    }

    button:hover {
        outline: 1px solid black;
    }

    .action-btn.read:hover {
        background-color: rgba(142, 216, 252, 0.8);
    }
    .action-btn.update:hover {
        background-color: var(--primary);
    }
    .action-btn.delete:hover {
        background-color: rgba(233, 95, 57, 0.8);
    }

    .close {
        align-self: center;
    }

    /* Pagination */
    .pagination {
        margin-top: 1.2em;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .page-controls button {
        padding: 5px 15px;

        border: 1px solid var(--border);
        background-color: white;
    }

    /* Dialog */
    .book-details {    
        border: 1px solid var(--border);
        border-radius: 1em;
        box-shadow: 0 20px 40px rgba(0,0,0,0.2);
        
        padding: 32px;
    }

    .book-details[open] {
        display: flex;
        flex-direction: column;
    }

    .book-details::backdrop { 
        background: rgba(0,0,0,0.4); 
        backdrop-filter: blur(2px);
    }

    .book-details > form {
        line-height: 1.5;
    }

    .book-name, .book-price {
        font-weight: bolder;
    }

    .set-book-details {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        margin-block-start: 1em;
    }

    .set-book-details input { 
        padding: .8em 1.2em;
        
        border: 1px solid var(--border); 
        border-radius: 1.4em; 
    }


    /* Footer & Stats*/
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .5em;

        width: 100%;
        margin-top: auto;
        padding: 1em 1.25em;

        background-color: #F0F2F5;
        font-size: 0.8em;
    }


    /* Notifications */
    .banner {
        opacity: 0;
        transition: opacity 0.5s ease;

        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 25%;

        border: 1px solid rgba(0, 0, 0, 0.3);   
        border-radius: 1.4em; 
        padding: .6em 1em;
        background-color: #333;
        color: white;
        pointer-events: none;
        
        transition: 0.3s;
        
    }   

    .banner > span {
        font-weight: bold;
    }
